app:
  config:
    apiServerGqlUrl: "http://{{ requiredEnv "MINIKUBE_HOST" }}:30201/graphql"
    apiServerHttpUrl: "http://{{ requiredEnv "MINIKUBE_HOST" }}:30201"
    githubClientId: "361a3b4fda86d0234d2f"

service:
  type: NodePort
  nodePorts:
    http: 30211
    https: 30212
